$colorTheme: #14A1BC;

.home-page
{
  max-height: 90vh;

  ul
  {
    text-align: center;
    margin: 0 auto;
    &.social-btns
    {
      position: absolute;
      top: 3%;
      right: 3%;
      float: right;
    }
  }
  li
  {
    display: inline-block;
    vertical-align: middle;
  }
}


button
{
  border: 0 none;
  border-radius: 8px;
  padding: 10px 15px;
 }




.contact-btn
{
  z-index: 13;
  border: 1px solid $colorTheme;
  background: white ;
  position: absolute;
  right: 1%;
  top: 1%;
  color: $colorTheme;
  border-radius: 8px;
  padding: 10px 15px;
  transition: all 0.6s ease-in-out;

  cursor: pointer;

  &:hover
  {
    background-color: lighten($colorTheme, 10%);
    color: white;
    border: 1px solid darken($colorTheme, 10%);;
  }

}


.home
{
  h1
  {
    padding: 0 0 0 70px;
  }
  h2{
    margin-top: 2em;
  }
  h5
  {
    margin-top: 4em;
    line-height: 1.5em;
  }
  .presentation
  {
    max-width: 100vw;
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;

    li
    {
      width: 33%;
      height: 30vh;
      margin: 0;
      background-size: cover;
      font-size: 1.6em;
      color: black;
      text-align: center;
      position: relative;

      .ch-item
      {
        &:hover>h3
        {
          opacity: 0;
        }
        &>h3
        {
          position: absolute;
          z-index: 15;
          width: 100%;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 17px;
          padding: 45px 0 0 0;
          height: 100px;
          font-family: 'Open Sans', Arial, sans-serif;
          text-shadow: 0 0 1px #fff,0 1px 2px rgba(0,0,0,0.3);
        }

      }

      p
      {
        font-size: 15px;
      }

      &.objects
      {
        .ch-item
        {
          background: url("../images/oc.png");
        }

      }
      &.usercentric
       {
        .ch-item
        {
          background: url("../images/uc.png");
        }

       }
      &.startup
      {
        .ch-item
        {
          background: url("../images/startup.png");
        }

      }

      .ch-item,
      .ch-info
      {
        border-radius: 0;
      }
    }
  }

  .ch-info h3 {
    height: 75px;
  }
}

.home-page {
  .pictos {
    li {
      margin:0;
     &:nth-child(2){
        margin-top: 18px;
      }
      img {
        margin: 0 10px;
        width: 100px;
      }
      p{
        margin:0 auto;
        width: 100px;
        font-family: $secondFont;
        color:$headingColor;
        text-transform: uppercase;
        text-align: center;
        font-size: 0.8em;

      }
    }
  }
}

// OUR OFFER animation in circle


.our-offer {
  .schema {
    width: 100%;
    height: 700px;
    padding-top: 100px;
    background-color: $linkColor;


    ul {
      width: 20em;
      top: 120px;
      height: 20em;
      border: 2px solid $circleColor;
      border-radius: 50%;
      position: relative;
      margin: auto 0;

      li {
        display: block;
        position: absolute;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: $circleColor;
        vertical-align: middle;
        font-size: 0.7em;
        border: 2px solid #fff;
        text-align: center;


        img {
          width: 60%;
        }
        p{
          margin:0;
          padding:0;
        }

        &:after {
          content: " ";
          display: block;
          width: 1px;
          border-left: 2px solid white;
          position: absolute;

        }
      }
    }
  }
}

@mixin line-position($line-height, $line-rotation, $line-left, $line-right, $line-top,
$line-bottom){
  height: $line-height;
  transform:$line-rotation ;
  left: $line-left;
  right:$line-right;
  top:$line-top;
  bottom: $line-bottom;
}

.our-offer .schema{
  .round1 {
    transform: rotate(45deg) translate(-15em) rotate(-45deg) ;

    &:after {
      @include line-position(47px,rotate(-50deg),"",-7%,"","");
       }
    .object {
      width: 40px;
      height: 40px;
      border-radius: 4px;
      margin: 25px 0px -38px 38px;
      position: relative;
      border: 2px solid #FFF;
      color: transparent;
      padding-top: 2px;
      padding-left: 2px;
      transform: rotate(45deg);

    }
    .halfCircle,.halfCircle2 {
      height: 17px;
      width: 40px;
      border-radius: 0 50px 50px 0;
      border: 2px solid transparent;
      border-right-color: white;
      position: relative;
  }
    .halfCircle{
      left: 44%;
      top: 8%;
    }
    .halfCircle2{
      left: 51%;
      top: -13%;
      height: 35px;
         }

    .description{
      display: none;
    }

    &:hover{
      .loading-icon,
      .loading-icon::before,
      .loading-icon::after {
        left: 55%;
        top: 48%;
        margin-left: -30px;
        margin-top: -30px;
        position: absolute;
        vertical-align: middle;
        background: transparent;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: block;
        border: 0 none;
        transform: rotate(42deg) translate(4em);

      }
      .loading-icon::before {
        content: "";
        animation: bounce 2s infinite;
        background:white;
      }
      .loading-icon::after {
        content: "";
        animation : bounce 2s -0.4s infinite;
        background: white;
      }

      @keyframes bounce {
        0% {
          transform: scale(0.8);
          opacity: 1;
        }
        100% {
          transform: scale(2);
          opacity: 0;
        }
      } ;


      .loading-icon.twentyfive,
      .loading-icon.twentyfive::before,
      .loading-icon.twentyfive::after{
        background-image:
        linear-gradient(180deg, transparent 50%, $circleColor 50%),
        linear-gradient(90deg, $circleColor 50%, transparent 50%);
      }

      .description {
        display: block;
        background-color: rgba(255, 255, 255, 0.4);
        position: absolute;
        top: 24%;
        left: -112%;
        width: 120px;
        height: 75px;
        padding: 10px;
        border-radius: 7px;
        font-size: 1em;
        color: black;
        transition : background 0.5s;
      }
    }
  }
}

.our-offer .schema {
  .round2 {
    transform: rotate(148deg) translate(-25em) rotate(-148deg);
    &:after {
      @include line-position(39px, rotate(29deg), 8%, "", "", -18%);
    }
    .description {
      display: none;
    }

    &:hover{
      .rect1, .rect2, .rect3 {
        width: 11px;
        height: 2px;
        margin-top: 10px;
        background-color: #ffffff;
        clear: both;
        position: absolute;
        left: 46%;
      }
      .rect1 {
        top: 18%;
        animation: scroll1 1s infinite;

        @keyframes scroll1 {
          0% {
            top: 22%;
          }
          100% {
            top: 24%;
          }
        }
      }
      .rect2 {
        top: 22%;
        animation: scroll2 1s infinite;

        @keyframes scroll2 {
          0% {
            top: 26%;
          }
          100% {
            top: 28%;
          }
        }

        @-webkit-keyframes scroll2 {
          0% {
            top: 26%;
          }
          100% {
            top: 28%;
          }
        }
      }
      .rect3 {
        top: 26%;
        animation: scroll3 1s infinite;
        @keyframes scroll3 {
          0% {
            top: 30%;
          }
          100% {
            top: 32%;
          }
        }

      }
      .description {
        display: block;
        background-color: rgba(255, 255, 255, 0.4);
        position: absolute;
        top:10%;
        left: 112%;
        width: 150px;
        height: 85px;
        padding: 10px;
        border-radius: 7px;
        font-size: 1em;
        color: black;
        transition: background 0.5s;
      }
    }
  }
}



.our-offer .schema {
  .round3 {
    transform: rotate(205deg) translate(-36em) rotate(-205deg);
    &:after {
      @include line-position(53px, rotate(-73deg), -19%, "", 3%, "");
    }
    .wrapper
    {
      width: 46px;
      height: 49px;
      border-radius: 9px;
      margin: 25px 0 10px 38px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      border: 2px solid rgb(255, 255, 255);
      padding: 9px 4px;
    }

    .wrapper:before,
    .wrapper:after
    {
      content: " ";
      display: block;
      height:13px;
      width:7px;
      border-radius: 70%;
      border:2px solid white;
      position: absolute;
      top: 12%;
    }

    .wrapper:before
    {
      border-radius: 40px 0 0 40px;
      left: -16px;
    }
    .wrapper:after
    {
      border-radius:  0 40px 40px 0;
      right: -16px;
    }
    .circle-line
    {
      border:2px solid white;
      border-radius: 50%;
      height: 12px;
      width: 12px;
      transition: all 0.1s ease-in-out 0s;
      display: inline-block;
      vertical-align: middle;
    }

    .wrapper:hover .circle-line
    {
      border-width:2px 0 0 0;
      border-radius: 60%;
      height:12px;
    }
    .description {
      display: none;
    }
    &:hover{
      .description {
        display: block;
        background-color: rgba(255, 255, 255, 0.4);
        position: absolute;
        top: 24%;
        left: 112%;
        width: 110px;
        height: 65px;
        padding: 10px;
        border-radius: 7px;
        font-size: 1em;
        color: black;
        transition: background 0.5s;
      }
    }
  }
}

.our-offer .schema {
  .round4 {
    transform:rotate(120deg) translate(28em) rotate(-120deg);

    .desktop1{
      width: 46px;
      height: 49px;
      border-radius: 9px;
      margin: 25px 0 3px 38px;
      position: relative;
      border: 2px solid #FFF;
      color:transparent;
      padding-top: 2px;
      padding-left: 2px;
    }
    .desktop2{
      width: 46px;
      height: 12px;
      border-radius: 5px;
      border: 2px solid #FFF;
      margin-left: 38px;
    }
       &:after {
      @include line-position(64px, rotate(-132deg), "", -8%, -28%, "");
    }
    .description {
      display: none;
    }

    &:hover{
      .desktop1{
        color:white;
        font-size: 1em;
        span{
          animation: clignote 1s infinite;
          @keyframes clignote {
            0%{color:rgba(255,255,255,1);}
            50%{color:rgba(255,255,255,0.5);}
            100%{color:rgba(255,255,255,0);}
          }
          @-webkit-keyframes clignote {
            0%{color:rgba(255,255,255,1);}
            50%{color:rgba(255,255,255,0.5);}
            100%{color:rgba(255,255,255,0);}
          }
        }
      }
      .description {
        display: block;
        background-color: rgba(255, 255, 255, 0.4);
        position: absolute;
        top: 24%;
        left: -132%;
        width: 150px;
        height: 75px;
        padding: 10px;
        border-radius: 7px;
        font-size: 1em;
        color: black;
        transition: background 0.5s;
      }
    }
  }
}

.our-offer .schema ul .round5{
  transform: rotate(222deg) translate(-5.3em) rotate(-222deg);
  background-color: $circleColor;
  border: none;
  width: 200px;
  height: 200px;

  img{
    width: 26%;
    margin-top: -47px;
    margin-left: -8px;
    vertical-align: top;

  }

  p{
    line-height: 135px;
    vertical-align: middle;
    font-size: 24px;
    text-transform: uppercase;

    &:nth-child(3)
    {
      font-size: 12px;
      text-transform: none;
    }

  }

  &:after{
    content: " ";
    position: absolute;
    left: -21px;
    top: -21px;
    border-radius: 50%;
    border-top-color: white;
    width: 240px;
    height: 240px;
  }
}

//ARROW
@mixin line-arrow($width-arrow, $rotate-deg, $color-arrow, $skew-deg, $border-width) /*54deg 20deg*/
{
  border-top: $border-width solid $color-arrow;
  border-right: $border-width solid $color-arrow;
  transform: rotate($rotate-deg) skew($skew-deg);
  display: block;
  font-size: 12px;
  width:  $width-arrow;
  height: $width-arrow;
}

.our-offer .schema ul .round6{
  transform: rotate(222deg) translate(-5.3em) rotate(-46deg);
  background-color: transparent;
  border: none;
  width: 200px;
  height: 200px;
  text-transform: uppercase;


  &:after{
    content: " ";
    position: absolute;
    right: -21px;
    bottom: -21px;
    border-radius: 50%;
    //        border: 1px solid white;
    border-bottom-color: white;
    width: 240px;
    height: 240px;
  }
}

//bloc texte offre
/**/
  .border-block
  {
    display: flex;
    margin: 0 auto;
    width: 60%;
    height: 38vh;
    padding: 6%;
    color: #000000;
    border: 2px solid #000000;
    font-size: 1.4em;
    line-height: 1.5em;

    .list
    {
        align-items: stretch;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;

      li
      {
        list-style-type: disc;
        display: block;
        line-height:1.7em;
      }
    }

  }

.projects-block
{
  height: 60vh;
  padding: 10%;
  text-align: center;
  background: url("../images/studio.jpg") no-repeat center center transparent;
  background-size: cover;
  margin-top: 2%;


  h3
  {
    font-size: 2.3em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    text-shadow: 5px 2px 7px rgba(150, 150, 150, 1);
  }

  h4
  {
    color: white;
    letter-spacing: 2px;
    text-shadow: 5px 2px 7px rgba(150, 150, 150, 1);
  }
}


.block-left,
.block-right
{
  display: inline-block;
  vertical-align: top;
  width: 48%;
}

.contact,
.projects
{
  .border-block
  {
    position: relative;
    height: 22vh;
    padding: 4%;

    h2
    {
      text-transform: uppercase;
      position: absolute;
      top: -30px;
      left: 32%;
      background-color: white;
      padding: 10px;
      font-size: 1.5em;
    }
    p
    {
      font-size: 1.1em;
      line-height: 1.5em;
    }

  }




  .block-left
  {
    color: #000;
    padding: 4%;
    text-align: left;

  }

  address
  {
    padding: 2%;
    font-size: 1.2em;
    color: lighten(#000, 30%);
    img
    {
      margin: 0 6px;
    }
    &>*
    {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .email-send,
  .phone
  {
    font-size: 1.6em;
    color: lighten(#000, 40%);
    display: block;
    margin: 20px 0;
    &:active,
    &:focus,
    &:hover
    {
      border: 0 none;
      box-shadow: none;
    }
    &>*
    {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
    }
  }

}

.projects .border-block {
  height: 38vh;
}

.block-right
{
  padding: 20px 0;
}

#map-canvas {
  width: 400px;
  height: 500px;
}

.clients-list
{
  display: flex;
  justify-content: space-around ;
  flex-wrap: wrap;
  margin-top: 3vh;

  .item
  {

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid $colorTheme;
    padding: 2vw;
    margin: 1vh;
    width: 15vw;
    height: 15vw ;

    img
    {
      max-width: 100%;
      height: auto;
    }
  }
}

/*FOOTER*/
footer
{
  font-size: 1.4em;
  color: #666;

  &>*
  {
    display: inline-block;
    vertical-align: text-bottom;
  }

  i
  {
    font-weight: bold;
    margin: 0 10px;
  }

  a
  {
    color: #333;
    cursor: pointer;
    vertical-align: text-top;
  }
}

@media (max-width:1024px) {
  .contact,
  .projects {
    .border-block {
        height: 26vh;

    }
  }
}

@media (max-width:800px) {
  .block-left,
  .block-right
  {
    display: block;
    float: none;
    width: 100%;
  }
  .contact
  {
    .block-left
    {
      img
      {
        width: 30px;
      }
    }

    #map-canvas {
      width: 100vw;
      height: 31vh;
    }
  }

  .clients-list .item
  {
    width: 40vw;

  }
  .border-block .list
  {
    font-size: 0.8em;
  }
  .projects-block h3
  {
    font-size: 1.9em;
  }
  .projects-block {
    padding: 5%;
  }
}

@media (max-width:640px) {

  .border-block {
    margin: 5px auto;
    width: 90%;
    height: 40vh;
    padding: 1%;
    font-size: 1em;
    line-height: 1.3em;
    .list li{
      font-size: 1.4em;
    }
  }
  .contact .border-block {
    padding: 1%;
  }

  .contact .block-left,
  .projects .block-left {
    padding: 2% 4%;
  }

  .reveal h2 {
    font-size: 1.3em;
  }
  .reveal .slides > section,
  .reveal .slides > section > section
  {
    padding-top: 45px;
  }

  .projects-block h3,
  .projects-block h4
  {
    font-size: 1.6em;
  }

    .home .presentation li .ch-item>h3
  {
    padding: 20px 0 0 0 ;
  }
  .home .presentation li .ch-item:hover>h3
  {
    opacity: 1;
  }
  .home .presentation .ch-item:hover .ch-info
  {
    display: none;
  }

  .contact .email-send,
  .contact .phone
  {
    font-size: 1.2em;
    margin: 7px 0;
  }
  .contact address, .projects address {
    padding: 0 3%;
  }
  footer
  {
    .footer-logo
    {
      max-width: 100px;
    }
  }

  .contact-btn
  {
    padding: 6px;
  }

  .clients-list .item
  {
    width: 45vw;

  }
}

@media screen and (max-width:320px) {
  .projects .border-block {
    height: 54vh;
  }
  .contact {
    .border-block{
    height: 28vh;
    }
    .block-left a, .block-left address{
      font-size: 1em;
    }
  }

    .projects-block h3, .projects-block h4 {
    font-size: 1em;
  }
  .ch-item {
    box-shadow : inset 0 0 0 8px rgba(255,255,255,0.6),0 1px 2px rgba(0,0,0,0.1) ;
  }

}


@media (orientation: landscape) and (max-device-width : 640px) {
  .projects .border-block
  {
    height: 65vh;
  }

  .clients-list .item {
    width: 32vw;
  }
  .contact .border-block{
    height: 30vh;
  }
}

